body {
  font-size: 16px;
  color: #fff;
  background-color: #50E6E6;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #BFD6D6;
  border-radius: 0;
  border: 0;

}

#logo-img{
  background: url('../image/logo.png') no-repeat 400px 200px;
  width: 150px;
  height: 150px;
  background-size: contain;
  margin: 10px 15px 10px 0;
}
